@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}

body {
  font-family: "Raleway", sans-serif;
  background: var(--clr-primary);
  color: var(--primary-text);
  font-size: 1.1rem;
  transition: 0.4s ease-in-out;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-size: 1.2rem;
}

h2,
h3,
h4,
h6 {
  text-align: center;
}

h4 {
  font-size: 1.6rem;
  font-weight: normal;
}

p {
  line-height: 1.5;
  font-size: 1.4rem;
}

img {
  max-width: 100%;
  height: auto;
}

.txt-ctr {
  text-align: center;
}

.my-5 {
  margin: 5rem 0;
}

.toUpper {
  text-transform: uppercase;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  place-items: center;
}

.grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  place-items: center;
}

:root {
  --clr-primary: #191d2b;
  --clr-secondary: #407BFF;
  --clr-black: #333;
  -clr-white: #fff;
  --primary-text: #f8f8f8;
  --placeholder: rgba(200, 200, 200, 0.2);
  --progress: #454e56;
  --clr-grey-3: #d8d8d8;
  --clr-grey-4: #454e56;
  --clr-grey-5: rgb(42, 46, 53);
  --clr-grey-6: #2a2e35;
  --card-bg: rgba(42, 46, 53, .7);
  --icon-bg: #454e56;
  --icon-hover: #2a2e35;
  --icon-hover-bg: #f0f0f0;
  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 15px rgba(0, 0, 0, .3);
}

.light-mode {
  --clr-primary: #f8f8f8;
  --clr-secondary: #407BFF;
  --primary-text: #333;
  --placeholder: rgba(200, 200, 200, 0.7);
  --progress: #c0c0c0;
  --clr-grey-3: #2e2e35;
  --clr-grey-4: #dcdcdc;
  --clr-grey-5: #f8f8f8;
  --clr-grey-6: #e8e8e8;
  --card-bg: rgba(248, 248, 248, .7);
  --icon-bg: #f0f0f0;
  --icon-hover: #333;
  --icon-hover-bg: #f8f8f8;
}

section {
  width: 80vw;
  margin: 0 auto 10rem;
}

section.reveal div {
  -webkit-animation: scale-in-ver-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: scale-in-ver-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-in-ver-center {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}

@keyframes scale-in-ver-center {
  0% {
    transform: scaleY(0);
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}
.controls {
  position: fixed;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  right: 3%;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center end;
  grid-gap: 1rem;
}

.control {
  cursor: pointer;
}
.control span {
  display: inline-block;
  position: relative;
  opacity: 0;
  margin-right: 1rem;
  transition: 0.4s ease-in;
}
.control a:hover span {
  opacity: 1;
}

i {
  padding: 1rem;
  color: var(--clr-grey-3);
  background: var(--icon-bg);
  border-radius: 50%;
  box-shadow: var(--box-shadow-1);
  font-size: 1.2rem;
}

i:hover {
  color: var(--icon-hover);
  background: var(--icon-hover-bg);
}

.theme-btn,
.lang {
  position: fixed;
  right: 3%;
  cursor: pointer;
}

.theme-btn {
  top: 5%;
}

.lang {
  top: 12%;
}
.lang i {
  pointer-events: none;
}

.back-to-top {
  position: fixed;
  right: 3%;
  bottom: -100%;
  cursor: pointer;
  -webkit-animation: bounce 2s infinite;
          animation: bounce 2s infinite;
}
.back-to-top i {
  background: none;
  box-shadow: none;
}
@-webkit-keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.back-to-top.pop {
  bottom: 5%;
}

.active-btn i {
  background: var(--clr-secondary);
  color: var(--clr-white);
  transition: background 0.4s ease-in-out;
}

.header-content {
  min-height: 100vh;
}
.header-content.grid {
  grid-template-columns: 1fr;
}
.header-content .right-header *:not(:last-child) {
  margin-bottom: 2rem;
}
.header-content .right-header .name {
  font-family: "PT Mono", monospace;
  font-size: 3rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
}
.header-content .right-header .name::before {
  position: absolute;
  content: "";
  inset: 0;
  background: var(--clr-primary);
  -webkit-animation: type 8s steps(12) 1s infinite;
          animation: type 8s steps(12) 1s infinite;
}
@-webkit-keyframes type {
  0%, 10% {
    left: 0;
  }
  50%, 55% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}
@keyframes type {
  0%, 10% {
    left: 0;
  }
  50%, 55% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}
.header-content .right-header .name::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 2px;
  height: 100%;
  background: var(--primary-text);
  -webkit-animation: type 8s steps(12) 1s infinite, blink 750ms steps(12) infinite;
          animation: type 8s steps(12) 1s infinite, blink 750ms steps(12) infinite;
}
@-webkit-keyframes blink {
  to {
    background: transparent;
  }
}
@keyframes blink {
  to {
    background: transparent;
  }
}
.header-content .right-header .name span {
  color: var(--clr-secondary);
}

.cta {
  border: 1px solid var(--clr-secondary);
  border-radius: 30px;
  position: relative;
  overflow: hidden;
}
.cta::before {
  content: "";
  position: absolute;
  border-radius: inherit;
  top: 0;
  transform: translateX(100%);
  z-index: -1;
}
.cta:hover::before {
  width: 100%;
  height: 100%;
  transform: translateX(0);
  background: var(--clr-secondary);
  transition: 0.4s ease-in;
}
.cta .cta-text {
  padding: 0 1rem;
}
.cta span i {
  box-shadow: none;
}

.main-title h2 {
  position: relative;
  font-size: 3rem;
  font-weight: lighter;
}
.main-title h2 span.bg-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6rem;
  width: 100%;
  z-index: -1;
  color: var(--clr-grey-4);
  opacity: 0.5;
  font-weight: lighter;
  transition: 0.4s ease-in-out;
}

.about-container.grid {
  place-items: start center;
}
.about-container .left-about *:not(:last-child) {
  margin-bottom: 3rem;
}
.about-container .right-about .about-item {
  border: 1px solid var(--clr-grey-5);
  border-radius: 5px;
  transition: 0.4s ease-in-out;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
  width: 19rem;
}
.about-container .right-about .about-item:hover {
  cursor: default;
  border: 1px solid var(--clr-secondary);
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.32);
}
.about-container .right-about .about-item .about-text {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}
.about-container .right-about .about-item .about-text .lg-text {
  font-size: 3rem;
  font-weight: bolder;
  color: var(--clr-secondary);
}
.about-container .right-about .about-item .about-text .sm-text {
  text-align: right;
  position: relative;
  color: var(--primary-text);
  letter-spacing: 2px;
}
.about-container .right-about .about-item .about-text .sm-text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  width: 2rem;
  height: 2px;
  background: var(--clr-grey-4);
}

.about-stats .prog-text {
  color: var(--progress);
}
.about-stats .progress-container.grid {
  place-items: center start;
}
.about-stats .progress-container.grid .progress {
  width: 15rem;
  height: 0.45rem;
  background: var(--progress);
  margin-left: 1rem;
  position: relative;
}
.about-stats .progress-container.grid .progress .html {
  max-width: 95%;
}
.about-stats .progress-container.grid .progress .css {
  max-width: 93%;
}
.about-stats .progress-container.grid .progress .js {
  max-width: 85%;
}
.about-stats .progress-container.grid .progress .wp {
  max-width: 82%;
}
.about-stats .progress-container.grid .progress .jquery {
  max-width: 80%;
}
.about-stats .progress-container.grid .progress .bootstrap {
  max-width: 90%;
}
.about-stats .progress-container.grid .progress .stat {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: var(--clr-secondary);
}
.about-stats .progress-container.grid .progress .stat.active {
  width: 100%;
  -webkit-animation: smooth 5s ease;
          animation: smooth 5s ease;
}
@-webkit-keyframes smooth {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes smooth {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.timeline-items .timeline-item {
  max-width: 500px;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 3rem;
}
.timeline-items .timeline-item .tl-icon {
  position: relative;
}
.timeline-items .timeline-item .tl-icon::after {
  content: "";
  display: block;
  width: 1px;
  height: 70px;
  background: var(--clr-grey-4);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.timeline-items .timeline-item .tl-text {
  display: grid;
  grid-gap: 1rem;
}
.timeline-items .timeline-item .tl-text p {
  font-size: 1rem;
}
.timeline-items .timeline-item .tl-text h5 {
  font-size: 1.2rem;
}
.timeline-items .timeline-item .tl-text h5 span {
  font-weight: normal;
}
.timeline-items .timeline-item .tl-text .tl-duration {
  font-size: 1rem;
  color: var(--clr-grey-3);
  background: var(--clr-grey-4);
  border-radius: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 10px;
}

.portfolio .portfolio-container .portfolio-item .hovertext {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 200px;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.portfolio .portfolio-container .portfolio-item .hovertext::before {
  position: absolute;
  content: attr(data-hover);
  width: inherit;
  height: inherit;
  color: #333;
  background: rgba(255, 255, 255, 0.8);
  display: grid;
  place-items: center;
  font-size: 1.2rem;
  transition: opacity 0.4s ease-in;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
}
.portfolio .portfolio-container .portfolio-item .hovertext:hover::before {
  opacity: 1;
  visibility: visible;
}
.portfolio .portfolio-container .portfolio-item img {
  width: inherit;
  height: inherit;
  -o-object-position: center;
     object-position: center;
}
.portfolio .portfolio-container .portfolio-item .hovertext:hover img {
  transform: scale(1.2);
  transition: 0.4s ease-in;
}
.portfolio .portfolio-container .portfolio-item p {
  margin: 1rem 0;
}
.portfolio a {
  text-decoration: underline;
  color: var(--clr-grey-3);
}
.portfolio a:hover {
  opacity: 0.8;
}

.service-container .service-item {
  width: 320px;
  box-shadow: var(--box-shadow-1);
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.service-container .service-item *:not(:first-child) {
  padding: 1rem 0;
}
.service-container .service-item img {
  filter: grayscale(100%);
  width: inherit;
  height: 400px;
  position: relative;
}
.service-container .service-item .desc {
  position: absolute;
  bottom: -120;
  left: 0;
  z-index: 10;
  background: var(--card-bg);
}
.service-container .service-item .desc h4::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 0;
  height: 8px;
  display: block;
  background: var(--clr-secondary);
}
.service-container .service-item .desc p {
  font-size: 1rem;
  color: var(--clr-grey-3);
}
.service-container .service-item .desc a {
  border: 1px solid var(--clr-secondary);
  border-radius: 30px;
  padding: 0.3rem 0.5rem;
  transform: translateY(50px);
}
.service-container .service-item .desc a:hover {
  background: var(--clr-secondary);
}
.service-container .service-item:hover img {
  filter: grayscale(0);
  transition: 0.2s ease-in;
}
.service-container .service-item:hover .desc {
  bottom: 0;
  transition: 0.5s ease;
}
.service-container .service-item:hover h4::before {
  width: 100%;
  -webkit-animation: width 0.5s ease-in;
          animation: width 0.5s ease-in;
}
@-webkit-keyframes width {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes width {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.service-container .service-item:hover a {
  transform: translateY(0px);
  transition: 1s ease;
}

.contact-container.grid {
  place-items: start stretch;
}
.contact-container .left-wrapper p {
  margin-bottom: 3rem;
}
.contact-container .left-wrapper .info-item {
  margin-bottom: 1.5rem;
  display: flex;
}
.contact-container .left-wrapper .info-item i {
  background: none;
  box-shadow: none;
  font-size: 1.5rem;
  padding: 0 1rem 0 0;
}
.contact-container .left-wrapper .social-wrapper {
  margin-top: 3rem;
}
.contact-container .left-wrapper .social-wrapper i {
  margin-right: 1.5rem;
  box-shadow: none;
  cursor: pointer;
}
.contact-container .contact-right h4 {
  margin-bottom: 3rem;
}
.contact-container .contact-right form * {
  margin-bottom: 1rem;
  width: 60%;
}
.contact-container .contact-right input,
.contact-container .contact-right textarea,
.contact-container .contact-right button {
  display: block;
  border: none;
  padding: 1rem 0.8rem;
  background: var(--clr-grey-6);
  font-size: 1.2rem;
  border-radius: 20px;
}
.contact-container .contact-right input:focus,
.contact-container .contact-right textarea:focus,
.contact-container .contact-right button:focus {
  outline: none;
}
.contact-container .contact-right ::-moz-placeholder {
  color: var(--placeholder);
}
.contact-container .contact-right :-ms-input-placeholder {
  color: var(--placeholder);
}
.contact-container .contact-right ::placeholder {
  color: var(--placeholder);
}
.contact-container .contact-right textarea {
  width: 80%;
  height: 200px;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
}
.contact-container .contact-right button {
  cursor: pointer;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: var(--primary-text);
  padding: 0.8rem 2rem;
}
.contact-container .contact-right button:hover {
  opacity: 0.8;
}

footer {
  margin-top: 40vh;
  letter-spacing: 2;
}

@media screen and (max-width: 768px) {
  section {
    width: 90vw;
    margin: auto;
  }
  .main-title h2 {
    font-size: 2rem;
  }
  .main-title h2 span.bg-text {
    font-size: 4rem;
  }
  .controls {
    grid-template-columns: repeat(5, 1fr);
    top: 92%;
    place-items: center center;
    right: 50%;
    transform: translateY(0);
    transform: translateX(50%);
  }
  .control i {
    font-size: 1.8rem;
  }
  .control span {
    display: none;
  }
  .grid,
.grid3 {
    grid-template-columns: 1fr;
    justify-content: center;
  }
  .header-content .right-header {
    text-align: center;
  }
  .about-container .left-about {
    text-align: center;
  }
  .about-container .left-about a.cta {
    margin: 2rem 0;
  }
  .about-container .right-about .about-item {
    border: 1px solid var(--clr-secondary);
  }
  .about-stats .progress-container.grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .service-container .service-item img {
    filter: grayscale(0);
  }
  .service-container .service-item .desc {
    bottom: 0;
  }
  .service-container .service-item .desc h4::before {
    width: 100%;
  }
  .service-container .service-item .desc a {
    transform: translateY(0px);
    background: var(--clr-secondary);
  }
}/*# sourceMappingURL=style.css.map */